JUDGE0_API_URL=
# Used by docker-compose for Judge0's Postgres
JUDGE0_POSTGRES_PASSWORD=

# Used by docker-compose for the app's Postgres
APP_POSTGRES_PASSWORD=

# Used by the Next.js app
APP_DATABASE_URL=

